body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@keyframes fadeIn {
from {opacity: 0.2}
to {opacity: 1;}
}

.Grid {
  border: 2px solid black;
  height: 400px;
  width: 400px;
  display: flex;
  flex-direction: row;
}

.Column {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.Cell {
  flex: 1;
  border: 1px solid black;
  text-align: center;
  font-size: 2em;
}

.cellHeader {
  display: flex;
  cursor: pointer;
}
